@use '../../styles/_colors.scss' as colors;

// ─── Footer ──────────────────────────────────────────────────────────────
a {
  text-decoration: none;
}

.footer {
  .footer-main {
    display: flex;
    gap: 3rem;
    padding: 3rem 6%;
    background-color: rgba(colors.get(primary-dark), .95);
    flex-wrap: wrap;

    .footer-col {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      flex: 1;
      min-width: 130px;
      font-weight: 600;

      .footer-col-title {
        font-size: 1.2rem;
        font-weight: 700;
        color: colors.get(bg);;
        margin-bottom: 0.2rem;
      }

      a {
        font-size: 1.1rem;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
        transition: color 0.15s;
        &:hover { color: colors.get(bg); }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6%;
    background: colors.get(text);
    color: colors.get(text-light);
    font-weight: 500;
    font-size: 0.75rem;
    flex-wrap: wrap;
    gap: 0.5rem;

    a {
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
