@use './styles/_colors.scss' as colors;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

// ─── Buttons (shared) ────────────────────────────────────────────────────
.btn {
  border: none;
  padding: 0.75rem 1.75rem;
  /* border: 3px solid colors.get(primary); */
  border-radius: 4px;
  font-size: 0.925rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  background: colors.get(primary);
  color: colors.get(bg);
  outline: 3px solid colors.get(primary);
  transition: background 0.25s;
  &:hover {
    transition: background 0.25s;
    outline: 3px solid colors.get(muted);
    background-color: colors.get(muted);
    text-shadow: 0 0 1px colors.get(bg);
  }
}

.btn-secondary {
  background: colors.get(bg);
  color: colors.get(text);
  outline: 3px solid colors.get(primary);
  transition: background 0.25s;
  &:hover {
    transition: background 0.25s;
    color: colors.get(primary);
    text-shadow: 0 0 5px colors.get(border);
    box-shadow: 0 0 5px colors.get(border);
  }
}

.btn-tertiary {
  background: colors.get(muted);
  color: colors.get(bg);
  transition: background 0.25s;
  &:hover {
    transition: background 0.25s;
    text-shadow: 0 0 1px colors.get(bg);
    background-color: colors.get(primary-dark);
  }
}


// Vertical stats divider
.stat-divider {
  width: 1px;
  height: 40px;
  background: colors.get(border);
  flex-shrink: 0;
}
